<html>
    <head>
        {% if title %}
        <title>{{ title }} - something</title>
        {% else %}
        <title>something</title>
        {% endif %}
    </head>
    <body>
        <div>
            Body:
            <a> something </a>
            
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>