{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href='/static/style.css' />
    <section class="gradient-custom-3">
    <div class="container" >
      <div class="row" >
        <div class="col-sm-7" style="margin-top: 40px">
        {% if current_user.username %}
        <h3>Привет, {{ current_user.username }}!</h3>
        {% else %}
        <h2>Welcome to EventChecker</h2>
        {% endif %}</div>
        <div class="col-sm-5">
          <form action="{{ url_for('index') }}" method="POST">
          {{ form.hidden_tag() }}
          {{ form.date.label }}
          {{ form.date(class_="form-select") }}
          <div style="margin-top: 15px; margin-bottom: 20px">
            {{ form.submit(class_="btn text-body btn-success gradient-custom-4 ") }}
          </div>
          </form>
        </div>
      </div>
      <div class="row">
        {% for event in events_today %}
        <div class="col-sm" style="margin-top: 15px; margin-bottom: 20px">
          <div class="card" style="width: 18rem;">
            {% if event.event_image %}
            <img src="{{ event.event_image[0].url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              
            </div>
            <ul class="list-group list-group-flush">
              {% if event.start_date %}
              <li class="list-group-item">Начало: {{ event.start_date|datetimeformat }}
                {{ event.start_time|datetimeformat('%H:%M') }}</li>
              {% endif %}
              {% if event.end_date %}
              <li class="list-group-item">Конец: {{ event.end_date|datetimeformat }}</li>
              {% endif %}
              {% if event.is_free %}
              <li class="list-group-item">Вход бесплатный</li>
              {% endif %}
            </ul>
            <div class="card-body">
              <a href="{{ url_for('specificevent', event_id=event.id) }}" class="card-link">Подробнее</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    </section>
{% endblock %}